@charset "UTF-8";
@use 'sass:map';

$font-family-ja: 'Noto Sans JP', sans-serif;
$font-family-en: 'Montserrat', sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #111;
$background-base: #fafafa;
$color-key1: #f5810e;
$color-key2: #fabe00;
$color-key3: #389b47;
$color-gradation: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);

$width-inner: 1140px;

$breakpoints: (
  sp: 'screen and (width < 768px)',
  pc: 'screen and (width >= 768px)',
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  font-family: $font-family-ja;
  background-color: $background-base;
}

/*    header
--------------------*/
.header {
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 15px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc($width-inner + 15px * 2);
    margin: 0 auto;
  }
}

.header__logo {
  a {
    img {
      width: 100px;
      display: block;

      @include mq(pc) {
        width: 135px;
      }
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.header__link {
  font-weight: 700;
  letter-spacing: 0.48px;
}

.header__button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding: calc(10px - 2px) calc(30px - 2px);
  border: 2px solid $color-base;
  border-radius: 60px;
}

.header__open {
  @include mq(pc) {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $color-base;
  border-radius: 6px;

  &:nth-of-type(2) {
    top: 9px;
  }
  &:nth-of-type(3) {
    top: 18px;
  }
}

/*    mv
--------------------*/
.mv {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin-inline: auto;
  background: $color-gradation;

  @include mq(pc) {
    border-radius: 30px;
    max-width: calc(100% - 30px * 2);
  }
}

.mv__inner {
  padding: 50px 20px 255px;
  position: relative;

  @include mq(pc) {
    padding-top: 110px;
    padding-bottom: 109px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(1040px + 15px * 2);
    margin-inline: auto;
  }
}

.mv__content {
}

.mv__lead {
}

.mv_lead1,
.mv_lead2 {
  font-feature-settings: 'palt' on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  display: block;
  width: fit-content;
  margin-inline: auto;

  @include mq(pc) {
    margin-inline: 0;
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 16px;
  }
}

.mv_lead1 {
}
.mv_lead2 {
  margin-top: 8px;
  @include mq(pc) {
    margin-top: 14px;
  }
}

.mv__description {
  text-align: center;
  letter-spacing: 0.48px;
  font-weight: bold;
  margin-top: 26px;

  @include mq(pc) {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-top: 20px;
  }
}

.mv__button {
  margin-top: 22px;
  text-align: center;

  @include mq(pc) {
    text-align-last: left;
    margin-top: 30px;
  }

  a {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.48px;
    color: #fff;
    display: inline-block;
    padding: calc(10px - 2px) calc(30px - 2px);
    border: 2px solid #fff;
    border-radius: 60px;
    background-color: $color-base;
  }
}

.mv__image {
  position: absolute;
  right: 0;
  bottom: -108px;
  width: 100%;
  text-align: center;

  @include mq(pc) {
    width: calc(600px / 1100px * 100%);
    text-align: right;
    bottom: -88px;
  }

  img {
    width: 345px;

    @include mq(pc) {
      width: 600px;
    }
  }
}

/*    case
--------------------*/
.case {
  margin-top: 108px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    margin-top: 88px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
.case__inner {
  padding-right: 40px;
  padding-left: 40px;

  @include mq(pc) {
    max-width: calc(920px + 40px * 2);
    margin-inline: auto;
  }
}

.case__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: center;

  @include mq(pc) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.case__items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;

  @include mq(pc) {
    margin-top: 54px;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
  }
}

.case__item {
  text-align: center;
  img {
  }
}

/*    news
--------------------*/
.news {
  padding-top: 60px;
  padding-bottom: 60px;
}

.news__inner {
  padding-right: 15px;
  padding-left: 15px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc($width-inner + 30px * 2);
    margin-inline: auto;
  }
}

.news__card {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: 40px 12px;

  @include mq(pc) {
    border-radius: 30px;
    padding-right: calc(105px / 1140px * 100%);
    padding-left: calc(105px / 1140px * 100%);
    padding-top: 40px;
    padding-bottom: 34px;
  }
}

.news__title {
  text-align: center;
  font-family: $font-family-en;
  font-weight: 700;
  line-height: 1;
  font-size: 38px;
  letter-spacing: 3.8px;

  @include mq(pc) {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: left;
  }
}

.news__lists {
  margin-top: 28px;
}

.news__list {
  &:nth-child(n + 2) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background-color: #e3e3e3;
    }
  }
}

.news-link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include mq(pc) {
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 0;
  }
}

.news-link__meta {
  display: flex;
  gap: 12px;
  align-items: center;

  @include mq(pc) {
    width: 247px;
    flex-shrink: 0;
    gap: 14px;
  }
}

.news-link__date {
  color: #333;
  white-space: nowrap;

  @include mq(pc) {
    width: 119px;
  }
}

.news-link__label {
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  padding: 2px 10px;
  border-radius: 2px;
  min-width: 63px;
  text-align: center;

  &.is-news {
    background-color: $color-key1;
  }
  &.is-column {
    background-color: $color-key2;
  }
  &.is-event {
    background-color: $color-key3;
  }
}

.news-link__title {
}

.news__link {
  text-align: right;
  margin-top: 22px;
  a {
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    border-bottom: 2px solid $color-base;
    padding-bottom: calc(10px - 2px);
  }
}
