@charset "UTF-8";
@use 'sass:map';

$font-family-ja: 'Noto Sans JP', sans-serif;
$font-family-en: 'Montserrat', sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #111;
$background-base: #fafafa;
$color-key1: #f5810e;
$color-key2: #fabe00;
$color-gradation: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);

$width-inner: 1140px;

$breakpoints: (
  sp: 'screen and (width < 768px)',
  pc: 'screen and (width >= 768px)',
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  font-family: $font-family-ja;
  background-color: $background-base;
}

/*    header
--------------------*/
.header {
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 15px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc($width-inner + 15px * 2);
    margin: 0 auto;
  }
}

.header__logo {
  a {
    img {
      width: 100px;
      display: block;

      @include mq(pc) {
        width: 135px;
      }
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.header__link {
  font-weight: 700;
  letter-spacing: 0.48px;
}

.header__button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding: calc(10px - 2px) calc(30px - 2px);
  border: 2px solid $color-base;
  border-radius: 60px;
}

.header__open {
  @include mq(pc) {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $color-base;
  border-radius: 6px;

  &:nth-of-type(2) {
    top: 9px;
  }
  &:nth-of-type(3) {
    top: 18px;
  }
}

/*    mv
--------------------*/
.mv {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin-inline: auto;
  background: $color-gradation;
}

.mv__inner {
  padding: 50px 20px 255px;
}

.mv__content {
}

.mv__lead {
}

.mv_lead1,
.mv_lead2 {
  font-feature-settings: 'palt' on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  display: block;
  width: fit-content;
  margin-inline: auto;
}

.mv_lead1 {
}
.mv_lead2 {
  margin-top: 8px;
}

.mv__description {
}

.mv__button {
}

.mv__image {
}
